<div class="container">
    <br>
    <div class="row">
      <div class="col-12">
        <div class="row section-banner">
          <div class="col-6">
            <h1 class="titulo-pagina"> {{ title }} </h1>
          </div>
          <div class="col-6 btn-agregar">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEvento" 
            (click)="titulo('Crear', null)">
                Crear nuevo
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row p-5">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre Evento</th>
              <th scope="col">Tipo Evento</th>
              <th scope="col">Lugar</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
			        <th scope="col">Descripción</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lista of listaEvento; index as i">
              <td> {{ lista.idEvento }} </td>
              <td> {{ lista.nombreEvento }} </td>
              <td> {{ lista.tipoEvento }} </td>
              <td> {{ lista.lugar }} </td>
              <td> {{ lista.fecha }} </td>
              <td> {{ lista.hora }} </td>
              <td> {{ lista.descripcion }} </td>
              <td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEvento"
                (click)="titulo( 'Editar' ,lista.idEvento )">
                  Editar
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="alertaEliminar( lista.idEvento )">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  

    <!--MODAL-->
    <form [formGroup]="formEvento">
      <div class="modal fade" id="modalEvento">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5> {{ encabezado }} </h5>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Nombre Evento" formControlName="nombreEvento" required>
                    <label for="Nombre">Nombre Evento</label>
                    <div *ngIf="formEvento.controls['nombreEvento'].touched && formEvento.controls['nombreEvento'].invalid" class="text-danger">
                      El nombre del evento es obligatorio
                    </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Tipo Evento" formControlName="tipoEvento" required>
                    <label for="Tipo Evento">Tipo Evento</label>
                    <div *ngIf="formEvento.controls['tipoEvento'].touched && formEvento.controls['tipoEvento'].invalid" class="text-danger">
                      El tipo de evento es obligatorio
                    </div>
                  </div>
				          <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Lugar" formControlName="lugar" required>
                    <label for="Lugar">Lugar</label>
                    <div *ngIf="formEvento.controls['lugar'].touched && formEvento.controls['lugar'].invalid" class="text-danger">
                      El lugar es obligatorio
                  </div>				  
                  </div>
                </div> 

                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" placeholder="Fecha" formControlName="fecha" required>
                    <label for="Fecha">Fecha</label>
                    <div *ngIf="formEvento.controls['fecha'].touched && formEvento.controls['fecha'].invalid" class="text-danger">
                      La fecha es obligatoria
                    </div>
                  </div>
                    
                    <div class="form-floating mb-3">
                      <input type="time" class="form-control" placeholder="Hora" formControlName="hora" required>
                      <label for="Hora">Hora</label>
                      <div *ngIf="formEvento.controls['hora'].touched && formEvento.controls['hora'].invalid" class="text-danger">
                        La hora es obligatoria
                      </div>                 
                    </div>
                    <div class="form-floating mb-3">
                      <textarea class="form-control" placeholder="Descripción" formControlName="descripcion" required></textarea>
                      <label for="Descripción">Descripción</label>
                      <div *ngIf="formEvento.controls['descripcion'].touched && formEvento.controls['descripcion'].invalid" class="text-danger">
                        La descripción es obligatoria
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cerrarBoton()">Cerrar</button>
              <button type="submit" class="btn btn-primary" (click)="crearEditarEvento(nameBoton)"> {{ nameBoton }} </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div>
      <tfoot>
        <tr>
          <td colspan="6" style="text-align: center; font-weight: bold;">
            Total de registros: {{ listaEvento.length }}
          </td>
        </tr>
      </tfoot>
    </div>
</div>
  