/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0a328a, #1e5bc6);
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffdd57;
  text-decoration: none;
}

.active-link {
  border-bottom: 2px solid #ffdd57;
}

/* Estilo para el contenido principal */
.content {
  padding: 1rem;
  font-family: Arial, sans-serif;
}
