<div class="container mt-5">
  <div class="card shadow p-4">
    <div *ngIf="rol === 'ADMIN'">
      <h2 class="text-primary mb-4">Bienvenido Administrador</h2>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" (click)="irAUsuarios()">Gestionar Usuarios</button>
        <button class="btn btn-outline-success" (click)="irAEventos()">Gestionar Eventos</button>
        <button class="btn btn-outline-secondary" (click)="irAZonas()">Gestionar Zonas</button>
        <button class="btn btn-outline-warning" (click)="irATickets()">Gestionar Tickets</button>
        <button class="btn btn-outline-warning" (click)="irACompras()">Gestionar Compras</button>
      </div>
    </div>

    <div *ngIf="rol === 'USER'">
      <h2 class="text-success mb-4">Bienvenido, Usuario</h2>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-info" (click)="irAEventos()">Ver Eventos</button>
      </div>
    </div>

    <div class="text-end mt-4">
      <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
    </div>  
  </div>
</div>
